In [174]:
import numpy as np
import pandas as pd
import sys
import matplotlib.pyplot as plt
import gzip
import math as m

In [175]:
stations_file = "stations.json.gz"
cities_file = "city_data.csv"
output_file = "output.svg"

In [176]:
station_fh = gzip.open(stations_file, 'rt', encoding='utf-8')
stations_df = pd.read_json(station_fh, lines=True)
cities_df = pd.read_csv(cities_file)

stations_df['avg_tmax'] = stations_df['avg_tmax'] / 10 #divide by ten weather data is °C×10 (because that's what GHCN distributes)
#the average daily-high temperature for the year

cities_df = cities_df[np.isfinite(cities_df.population)]
cities_df = cities_df[np.isfinite(cities_df.area)].reset_index(drop=True) #get ride of unusable data
cities_df['area'] = cities_df['area'] / 1000000 #convert from m^2 to km^2

cities_df = cities_df[cities_df.area <= 10000] #exclude unreasonable area

cities_df.reset_index(drop=True)

cities_df['density'] = cities_df['population'] / cities_df['area'] #calculate density

In [262]:
def distance(city, stations): #takes the current row of the cities df and the stations df as argument
    #returns a df of distances from the city to all the stations
    p = float(m.pi/180)
    city_lat = city['latitude']
    city_long = city['longitude']

    #row is the city columns are stations
    d = 0.5 - np.cos((stations['latitude']-city_lat)*p)/2 + np.cos(city_lat*p) * np.cos(stations['latitude']*p) * (1- np.cos((stations['longitude']-city_long)*p))/2
    
    return 12742*np.arcsin(np.sqrt(d))

In [264]:
def best_tmax(city, stations): 
    stations['distance'] = distance(city, stations)
    station = stations_df[stations_df['distance'] == stations_df['distance'].min()]
    
    station = station.reset_index(drop=True)
    
    return station.loc[0, 'avg_tmax']

In [269]:
cities_df['avg_tmax'] = cities_df.apply(best_tmax, axis=1, stations=stations_df)
cities_df

,name,population,area,latitude,longitude,density,avg_tmax
0,Calgary,1096833.0,825.290000,51.054444,-114.066944,1329.027372,12.152329
1,Edmonton,812201.0,684.370000,53.500000,-113.500000,1186.786387,11.098338
2,Abbotsford,133497.0,375.550000,49.054611,-122.328000,355.470643,15.782787
3,Burnaby,223218.0,90.610000,49.250000,-122.949167,2463.502925,13.876667
4,Nanaimo,83811.0,91.000000,49.164167,-123.936389,921.000000,13.864754
5,Revelstoke,7139.0,40.000000,50.998100,-118.196000,178.475000,13.483978
6,Richmond,198309.0,129.270000,49.166667,-123.133333,1534.068229,16.176136
7,Surrey,468251.0,316.410000,49.183300,-122.850000,1479.886856,13.439610
8,Vancouver,603502.0,115.000000,49.250000,-123.100000,5247.843478,15.153846
9,Victoria,80032.0,19.470000,48.422151,-123.365700,4110.529019,15.129146
10,Fredericton,56224.0,130.680000,45.950000,-66.666667,430.241812,11.938202
11,St. John's,106172.0,446.060000,47.567500,-52.707222,238.021791,9.719399
12,Iqaluit,6699.0,52.000000,63.750000,-68.550000,128.826923,-4.642939
13,Barrie,141434.0,76.990000,44.390000,-79.686000,1837.043772,15.047203
14,Burlington,175779.0,185.660000,43.325000,-79.800000,946.779058,14.179888
15,Greater Sudbury,161531.0,3200.560000,46.490000,-81.010000,50.469605,10.428099
16,Hamilton,519949.0,1138.110000,43.250000,-79.866667,456.853028,15.220506
17,Kitchener,219153.0,136.890000,43.450000,-80.483333,1600.942362,14.015110
18,Markham,301709.0,212.580000,43.883300,-79.250000,1419.272744,15.080601
19,Mississauga,713443.0,292.400000,43.600000,-79.650000,2439.955540,16.147647
20,Ottawa,883391.0,2778.798243,45.416667,-75.700000,317.903972,12.720994
21,Quinte West,43086.0,494.000000,44.183333,-77.566667,87.218623,14.165847
22,Sault Ste. Marie,75141.0,715.000000,46.533300,-84.350000,105.092308,11.966120
23,Thunder Bay,108359.0,447.500000,48.382200,-89.246100,242.143017,10.551247
24,Toronto,2731571.0,630.000000,43.700000,-79.400000,4335.826984,15.022472
25,Amos,12823.0,427.000000,48.566667,-78.116667,30.030445,11.207071
26,Belleterre,313.0,551.000000,47.383300,-78.700000,0.568058,10.892717
27,Berthierville,4189.0,6.000000,46.083300,-73.183300,698.166667,16.512448
28,Charlemagne,5913.0,2.000000,45.716667,-73.483333,2956.500000,17.607143
29,Duparquet,666.0,123.000000,48.500000,-79.233300,5.414634,8.118560
...,...,...,...,...,...,...,...
311,Everett,103019.0,125.000000,47.963333,-122.200556,824.152000,16.935526
312,Waterbury,110366.0,75.000000,41.558333,-73.036944,1471.546667,17.679006
313,West Palm Beach,104031.0,150.737308,26.709722,-80.064167,690.147657,28.880601
314,Boulder,97385.0,66.500000,40.019444,-105.292778,1464.436090,19.805464
315,West Covina,106098.0,41.672908,34.056667,-117.918611,2545.970634,28.419588
316,Broken Arrow,98850.0,118.103457,36.036389,-95.783611,836.978040,23.968306
317,Clovis,95631.0,60.289743,36.825278,-119.703056,1586.190208,26.031694
318,Daly City,101123.0,19.849668,37.686389,-122.468333,5094.442889,16.908824
319,Lakeland,100710.0,192.695115,28.041111,-81.958889,522.639092,29.400000
320,Norwalk,105549.0,25.243000,33.906944,-118.083333,4181.317593,26.076503
321,Sandy Springs,101908.0,101.009536,33.937500,-84.368611,1008.894843,24.124317
322,Hillsboro,91611.0,62.000000,45.523056,-122.988333,1477.596774,17.924100
323,Green Bay,104057.0,144.940000,44.513333,-88.015833,717.931558,13.630137
324,Tyler,96900.0,140.833193,32.350000,-95.300000,688.048023,26.059290
325,Wichita Falls,104553.0,183.100000,33.896944,-98.515000,571.015838,25.189344
326,Lewisville,95290.0,109.996795,33.038300,-97.006100,866.297968,25.260694
327,Burbank,103340.0,45.011403,34.180278,-118.328333,2295.862673,26.243716
328,Greeley,92889.0,77.700000,40.416667,-104.700000,1195.482625,20.219945
329,San Mateo,97207.0,41.139371,37.554167,-122.313056,2362.870351,19.324317
330,El Cajon,99478.0,37.381298,32.798333,-116.960000,2661.170300,26.069945
331,Rialto,99171.0,57.926000,34.111389,-117.382500,1712.029141,24.887637
332,Davenport,102157.0,168.560000,41.543056,-90.590833,606.057190,17.086111
333,League City,83560.0,137.300000,29.499722,-95.089722,608.594319,26.231967
334,Las Cruces,97618.0,198.500000,32.319722,-106.765278,491.778338,26.285246
335,South Bend,101168.0,108.470000,41.672500,-86.255278,932.681848,15.884932
336,Vista,93834.0,48.377000,33.193611,-117.241111,1939.640738,23.347541
337,Renton,90927.0,60.970000,47.486667,-122.195278,1491.340003,17.420219
338,San Angelo,93200.0,150.900000,31.450000,-100.450000,617.627568,26.951366
339,San Juan,355074.0,199.429084,18.450000,-66.066667,1780.452444,30.854913
340,Ponce,149028.0,501.421698,18.000000,-66.616667,297.210912,30.854913

In [268]:
'''city = cities_df.loc[0]
p = float(m.pi/180)
city_lat = city['latitude']
city_long = city['longitude']
    
#row is the city columns are stations
d = 0.5 - np.cos((stations_df['latitude']-city_lat)*p)/2 + np.cos(city_lat*p) * np.cos(stations_df['latitude']*p) * (1- np.cos((stations_df['longitude']-city_long)*p))/2
stations_df['distance'] = 12742*np.arcsin(np.sqrt(d))
station = stations_df[stations_df['distance'] == stations_df['distance'].min()]
station = station.reset_index(drop=True)
station.loc[0, 'avg_tmax']'''

#code to test functionality

"city = cities_df.loc[0]\np = float(m.pi/180)\ncity_lat = city['latitude']\ncity_long = city['longitude']\n    \n#row is the city columns are stations\nd = 0.5 - np.cos((stations_df['latitude']-city_lat)*p)/2 + np.cos(city_lat*p) * np.cos(stations_df['latitude']*p) * (1- np.cos((stations_df['longitude']-city_long)*p))/2\nstations_df['distance'] = 12742*np.arcsin(np.sqrt(d))\nstation = stations_df[stations_df['distance'] == stations_df['distance'].min()]\nstation = station.reset_index(drop=True)\nstation.loc[0, 'avg_tmax']"

In [276]:
plt.scatter(cities_df['avg_tmax'], cities_df['population'])

In [275]:
plt.savefig('output.svg')